@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

#main{
    width: 950px;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-minimalist-gradient-note-background-image_227353.jpg");
    //background-repeat: repeat-y;
    padding-top: 200px;
    padding-left: 200px;
    // text-align: center;
    object-fit: none;
    
   
}

#espacio{
    width: 20px;
    height: 20px;
}
.list {
    width: 300px;    
}

.positionIcons {
    color: red;
    float: right;
    //padding-right: 500px;    
}